/* -------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------- */

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fde5cc;
  /* To make the header sticky */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* -------------------------------------------------------------- */
/* NAVIGATION */
/* -------------------------------------------------------------- */

.main-nav--list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.main-nav--link:link,
.main-nav--link:visited {
  display: inline-block;

  text-decoration: none;
  color: #1a455b;
  font-weight: 700;
  font-size: 1.8rem;

  transition: all 400ms;
}

.main-nav--link:hover,
.main-nav--link:active {
  color: #f77f00;
}

.main-nav--link.main-nav--call:link,
.main-nav--link.main-nav--call:visited {
  color: #fef2e6;
  background-color: #f77f00;
  padding: 1rem 1.6rem;
  border-radius: 1rem;

  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);
}
.main-nav--link.main-nav--call:hover,
.main-nav--link.main-nav--call:active {
  background-color: #de7200;
  color: #fff;
}

/* -------------------------------------------------------------- */
/* HERO */
/* -------------------------------------------------------------- */

.section-hero {
  background-color: #fde5cc;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;

  align-items: center;
}

.hero-desc {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-image {
  width: 100% !important;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  margin-top: 6.4rem;
}

.delivered-imag {
  display: flex;
  align-items: center;
}

.delivered-imag img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;

  margin-right: -1.6rem;
  border: 2px solid #fde5cc;
}

.delivered-imag img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.12rem;
}

.delivered-text span {
  color: #c66600;
  font-weight: 800;
}

/* -------------------------------------------------------------- */
/* HOW IT WORKS */
/* -------------------------------------------------------------- */

.section-how {
  padding: 9.6rem 0;
}

/* .step-detailbox {
  /* margin: auto 0; 
  align-self: center;
} */

.step-number {
  font-family: "Urbanist", san-serif;
  font-size: 9.8rem;
  font-weight: 700;
  color: #d3d9db;
  margin-bottom: 1.2rem;
}

.step-desc {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-imagbox {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.step-imagbox::before,
.step-imagbox::after {
  content: "";
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.step-imagbox::before {
  width: 75%;
  /* height: 75%; */

  /* 75% of parent width */
  padding-bottom: 75%;
  border-radius: 50%;
  background-color: #fef2e6;
  z-index: -2;
}

.step-imagbox::after {
  width: 55%;
  padding-bottom: 55%;
  border-radius: 50%;
  background-color: #fdd9b3;
  z-index: -1;
}

.step-imag {
  width: 45%;
}
