.hero {
  padding: 9.6rem 0;
  height: 100vh;
}

.hero-container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 6.4rem 3.6rem;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 6.4rem;

  align-items: center;
  justify-content: space-between;
}

.hero-text {
  justify-self: center;
}

.hero-loc {
  font-size: 1.6rem;
  margin-bottom: 3.6rem;
}

.hero-imag {
  /* height: 80%; */
  width: 80%;
  justify-self: center;
}

.p-heading {
  margin-bottom: 4.8rem;
}

.btn--hero-cta {
  border: none;
  background: none;
  cursor: pointer;
  list-style: none;
}

.hero-cta:link,
.hero-cta:visited {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.14rem;
  background-color: #e72b27;
  padding: 1rem 3.6rem;
  border-radius: 200rem;
  text-transform: uppercase;
}

.about {
  height: 50vh;
  margin: 0 auto;
}

.about-heading {
  text-transform: uppercase;
  color: #e72b27;
  font-size: 3.6rem;
  font-weight: 800;
  justify-self: end;
  margin-right: 4.8rem;
}

.about-text {
  font-size: 1.6rem;
  justify-self: center;
}

.gap:not(:last-child) {
  margin-bottom: 1.6rem;
}

.curious {
  max-height: 100vh;
}

.curious-heading {
  font-size: 8rem;
  font-weight: 400;
  text-align: center;
  color: #e72b27;
  margin-bottom: 9.6rem;
}

.list-imag {
  margin-bottom: 2.4rem;
}

.move--margin-left {
  margin-left: 7.2rem;
}

.move--margin-down {
  margin-top: 7.2rem;
}

.about-p {
  padding: 1.2rem 12.8rem 0 0;
  font-size: 1.4rem;
}
